
<md-button href="/#create" class="text-center" style="display:inline-block">Make a Playlist</md-button> 
<h2 class="text-center">Fun Finder</h2>
<!-- <button href="/#create" class="text-center" style="display: block">Make a Playlist</button> -->

<!-- <h1 class="page-title">Popular Playlists:</h1> -->

<md-input-container>
  <input type="text" ng-model="filter.destination" id="landing-filter" placeholder="Search By City">
</md-input-container>
<!-- dropdown test -->
<div >
  <md-input-container>
    <label>How Much Time do you have?</label>
    <md-select ng-model="time">
    <md-menu-content width="4">
    <!-- creating a button for each select item and passing the selected value to the searchTime function -->
    <md-button ng-click="searchTime(time)" ng-value = "time" ng-repeat="time in timeOptions">{{ time }}</md-button>
    </md-menu-content>
    </md-select>
  </md-input-container>
</div>


<!-- dropdown test -->

<div class="myTrips" style="background-color: white">
  <span class="playlist" ng-repeat="trip in tripResults | filter:filter" ng-click="viewTrip(tripResults.indexOf(trip))">
    <div class="playlist-img">
      <img class="trip-img" src="{{trip.image}}" alt="image of {{trip.name}}, {{trip.destination[0]}}">
    </div>
    <div class="playlist-info">
      <p class="glyphicon glyphicon-play-circle play-icon"></p>
      <p class="trip-name">{{trip.name}}</p>
      <p class="trip-destination">{{trip.area}}</p>
    </div>
  </span>
</div>