<!-- Navigation -->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/#landing">Soy Milk</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/#create">Create A Trip</a></li>
        <li><a href="/#myTrips">My Trips</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- Content -->
<div position="absolute" style="width: 1000px">

<div id="map" style="width: 400px; height: 400px; float: left" position='relative'></div>

 <div class='alignRight' position='relative'>
<div class="page-title">
  <h2 class="page-title">{{name}}</h2>


  <h4 class="page-title">{{area}}</h4>
  <h4 class="page-title">{{time}}</h4>


  <div class="rating-container">
    <h5>Rate This Playlist</h5>
    <span class="starRating" ng-click="submitRating()">
      <input id="rating5" type="radio" name="rating" value="5" ng-model="rating">
      <label for="rating5" ng-click="$event.stopPropagation()"></label>
      <input id="rating4" type="radio" name="rating" value="4" ng-model="rating">
      <label for="rating4" ng-click="$event.stopPropagation()"></label>
      <input id="rating3" type="radio" name="rating" value="3" ng-model="rating">
      <label for="rating3" ng-click="$event.stopPropagation()"></label>
      <input id="rating2" type="radio" name="rating" value="2" ng-model="rating">
      <label for="rating2" ng-click="$event.stopPropagation()"></label>
      <input id="rating1" type="radio" name="rating" value="1" ng-model="rating">
      <label for="rating1" ng-click="$event.stopPropagation()"></label>
    </span>
  </div>
  <md-button ng-click ="" class="btn btn-success">Add to Wishlist</md-button>

<!--<script>
   angular.module('valueExample', [])
     .controller('ExampleController', ['$scope', function($scope) {
       $scope.names = ['pizza', 'unicorns', 'robots'];
       $scope.my = { favorite: 'unicorns' };
     }]);
</script>
 <form ng-controller="ExampleController">
   <h2>Which is your favorite?</h2>
     <label ng-repeat="name in names" for="{{name}}">
       {{name}}
       <input type="radio"
              ng-model="my.favorite"
              ng-value="name"
              id="{{name}}"
              name="favorite">
     </label>
   <div>You chose {{my.favorite}}</div>
 </form> -->
 




<div class="tripview-container">
  <!-- <form class="form-horizontal" ng-submit="submitRating()">
    <div class="form-group">
      <label for="rating" class="col-sm-2 control-label">Rate this Playlist</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" placeholder="5" ng-model="rating">
      </div>
    </div>
  </form> -->
  <ul>
    <li class="foursquare-li li-add" style="background-color: transparent"ng-repeat="activity in activities">
      <div class="row">
          <div class="col-xs-4">
            <img class="addActivityImage" src="{{activity.photo}}" alt="{{activity.name}} in {{activity.address.split(',')[1]}}">
          </div>
          <div class="col-xs-6"style="background-color: transparent">
            <p><strong>{{activity.name}}</strong></p>
            <p>{{activity.address.split(',')[0]}}</p>
            <p>{{activity.category}}</p>
            <p>{{activity.rating}}/10</p>
            <a href="{{activity.url}}" target="_blank">Website</a>
          </div>
          <div class="col-xs-2">
            <!-- <i class="fa fa-thumbs-up fa-2x"></i> -->
            <!-- <i class="fa fa-thumbs-down fa-2x"></i> -->
            <div class="vote glyphicon glyphicon-triangle-top"></div>
            <div class="vote glyphicon glyphicon-triangle-bottom"></div> 
          </div>
      </div>
    </li>
  </ul>
    <input type="text" ng-model="number" placeholder="Phone Number">Enter Phone Number</input>
  <button ng-click="sendItin(number)">Send Itin to Phone</button>
</div>
</div> <!-- end of align div -->
</div>
